import /init.volte.rc
import /init.variant.${ro.boot.cmv}.rc

on boot
    # Tune I/O
    write /sys/block/mmcblk0/queue/add_random 0
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk0/bdi/read_ahead_kb 128

on post-fs
    swapon_all /fstab.gionee6735_65c_l1
    write /proc/sys/vm/page-cluster 0

service audio-daemon /system/bin/audiocmdservice_atci
     class main
     socket atci-audio stream 660 media system
     user media
     group nvram media system sdcard_rw
     disabled
     oneshot

on boot

service atcid-daemon-u /system/bin/atcid
    class main
    socket adb_atci_socket stream 660 radio system
    user system
    group radio system media
    disabled
    oneshot

service atcid-daemon-e /system/bin/atcid
    class core
    socket adb_atci_socket stream 660 radio system
    user root
    group radio system
    disabled
    oneshot

service atci_service /system/bin/atci_service
    class core
    socket atci-service stream 660 radio system
    socket atci-serv-fw stream 660 radio system
    user root
    disabled
    group radio system

service permission_check /system/bin/permission_check
    class main
    user root
    group system radio
    oneshot

service emsvr_user /system/bin/em_svr
    disabled
    user system
    group system radio diag

service emsvr /system/bin/em_svr
    disabled
    user root

service kpoc_charger /system/bin/kpoc_charger
    class charger

start audio-daemon
start atci_service

on property:ro.build.type=eng
    start emsvr
    start atci-daemon-e

on property:ro.build.type=user
    start emsvr_user
    start atci-daemon-u

on property:ro.build.type=userdebug
    start emsvr_user
    start atci-daemon-u

on charger
    start kpoc_charger

on post-fs-data
    start akmd09911

    mknod /dev/wmtWifi c 153 0
    chmod 0660 /dev/wmtWifi
    chown system system /dev/wmtWifi
    start wmtLoader

    # Camera
    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/LC898212AF
    chown system camera /dev/LC898212AF

    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

    # SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

    # GPS
    chown gps gps /sys/class/gpsdrv/gps/pwrctl
    chown gps gps /sys/class/gpsdrv/gps/suspend
    chown gps gps /sys/class/gpsdrv/gps/state
    chown gps gps /sys/class/gpsdrv/gps/pwrsave
    chown gps gps /sys/class/gpsdrv/gps/status

    # Define device for ATCID
    chmod 660 /dev/ttyGS0
    chown system /dev/ttyGS0
    chmod 660 /dev/ttyGS1
    chown system /dev/ttyGS1

    # Touch Panel
    chown root diag /sys/module/tpd_setting/parameters/tpd_calmat
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time
    chown root diag /sys/module/tpd_setting/parameters/tpd_mode
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time0
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time1
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_spl_num
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_pressure_threshold
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_auto_time_interval
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_sample_cnt
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_asamp
    chown root diag /sys/module/tpd_debug/parameters/tpd_em_log
    chown root diag /sys/module/tpd_debug/parameters/tpd_em_log_to_fs

    chmod 0660 /sys/class/misc/m_pkup_misc/pkupenablenodata
    chmod 0660 /sys/class/misc/m_pkup_misc/pkupactive
    chmod 0660 /sys/class/misc/m_pkup_misc/pkupdelay
    chmod 0660 /sys/class/misc/m_pkup_misc/pkupbatch
    chmod 0660 /sys/class/misc/m_pkup_misc/pkupflush
    chown system system /sys/class/misc/m_pkup_misc/pkupenablenodata
    chown system system /sys/class/misc/m_pkup_misc/pkupactive
    chown system system /sys/class/misc/m_pkup_misc/pkupdelay                                                     
    chown system system /sys/class/misc/m_pkup_misc/pkupbatch
    chown system system /sys/class/misc/m_pkup_misc/pkupflush

    chown system system /sys/devices/platform/tp_wake_switch/double_wake
    chmod 0664 /sys/devices/platform/tp_wake_switch/double_wake
    chown system system /sys/devices/platform/tp_wake_switch/gesture_wake
    chmod 0664 /sys/devices/platform/tp_wake_switch/gesture_wake
    chown system system /sys/devices/platform/tp_wake_switch/gesture_config
    chmod 0664 /sys/devices/platform/tp_wake_switch/gesture_config
    chown system system /sys/devices/platform/tp_wake_switch/gesture_coordition
    chmod 0664 /sys/devices/platform/tp_wake_switch/gesture_coordition
    chown system system /sys/devices/platform/tp_wake_switch/gesture_wake
    chmod 0664 /sys/devices/platform/tp_wake_switch/gesture_wake
 
    # VideoCodec
    mknod /dev/Vcodec c 160 0
    chmod 0660 /dev/Vcodec
    chown media system /dev/Vcodec
 
    # FM Radio device node
    mknod /dev/fm c 193 0
    chmod 0660 /dev/fm
    chown media media /dev/fm
 
    # device info /proc interface
    mknod /dev/devmap c 196 0
    chmod 0440 /dev/devmap
    chown root system /dev/devmap
 
service MtkCodecService /system/bin/MtkCodecService
    class main
    user system
    group audio media sdcard_r

# GuiExt Server init
service guiext-server /system/bin/guiext-server
    class main
    user system
    group system graphics
